# Bỏ qua tất cả các file/thư mục khác trong thư mục assets này


# Nhưng CÓ THEO DÕI (đẩy lên) các thư mục và file sau:
!css/
!js/
!img/
!images/

# Và không bỏ qua chính file .gitignore này
!.gitignore
